## Importing and Converting SQL Database to Pandas DataFrame in Python

In this tutorial, I will demonstrate how to import SQL database to Jupyter notebook and convert the tables in the database to dataframes. SQL murder mystery database will be used and it can be downloaded [here](https://github.com/NUKnightLab/sql-mysteries).

### Table of Contents
1. [Connecting to SQL Database](#SQLConnect)
2. [Converting Database to Dataframe](#PandasConvert)

### Connecting to SQL Database <a id="SQLConnect"></a>

Python packages that will be used in this exercise are sqlalchemy, to import the database, and pandas to convert the tables to dataframes. We will commence by importing the required libraries as shown in the image below.

In [1]:
#import create_engine from sqlalchemy
from sqlalchemy import create_engine

#import pandas
import pandas as pd

Using create_engine() method from sqlalchemy library, we create an engine and pass the location of database file as an argument. A connection to the database is created using connect() method.

In [2]:
#read sql-murder-mystery.db datdabse using create_engine
engine = create_engine('sqlite:///sql-murder-mystery.db')

#connect to database eninge
db_connect = engine.connect()

To work with the database, we need to know the tables names and other properties of each table in the database. To get this information, we use table_names() attribute to display the available tables.

In [3]:
#view tables in sql-murder-mystery database using table_names() method
db_tables= engine.table_names()

#print table names in database
db_tables

['crime_scene_report',
 'drivers_license',
 'facebook_event_checkin',
 'get_fit_now_check_in',
 'get_fit_now_member',
 'income',
 'interview',
 'person',
 'solution']

Now we know the tables in our database, we will go ahead to write a SQL query that will return all the records on a drivers_license table and convert the result to a dataframe.

In [4]:
#run sql command to select all records in drivers_license table
query = db_connect.execute("""SELECT * 
                            FROM drivers_license""")

#### Note:
Writing the query within three quotation marks is to enable us write a multi-line query.

### Converting Database to Dataframe<a id ="PandasConvert"></a>

We use the fetchall() method to get all rows returned in the query and convert to dataframe using DataFrame() method from Pandas library.

To get the correct column names, we set the query keys as the dataframe's column name. If the key is not set, we will have a dataframe with index numbers as its column names.

In [5]:
#convert sql result to DataFrame
df = pd.DataFrame(query.fetchall())

#make sql result keys to be dataframe's column names
df.columns = query.keys()

After converting the required tables to dataframes, it is important to close the connection to the database enigine. This would free up resources that can be used for other processes.

In [6]:
#close database connection
db_connect.close()

Let's see our end-result by viewing the first 5 rows of the dataframe.

In [7]:
#print first 5 rows of dataframe
df.head()

,id,age,height,eye_color,hair_color,gender,plate_number,car_make,car_model
0,100280,72,57,brown,red,male,P24L4U,Acura,MDX
1,100460,63,72,brown,brown,female,XF02T6,Cadillac,SRX
2,101029,62,74,green,green,female,VKY5KR,Scion,xB
3,101198,43,54,amber,brown,female,Y5NZ08,Nissan,Rogue
4,101255,18,79,blue,grey,female,5162Z1,Lexus,GS

There you have it, we have increased our productivity and skills by combining two powerful analysis tools in one environment. Now, we can write our SQL queries, analyze the results and visualize them using matplotlib or seaborn library, all in Jupyter Notebook. 

The GitHub repo for this tutorial can be found [here](https://github.com/Favor197/Importing-and-Converting-SQL-Database-to-Python-Dataframe)

P.S.: There is an easier way to convert database tables to dataframes. This simplified method does not require closing the database engine's connection. We will discuss it in the next post. Anticipate! 

Till then, keep levelling up.